<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['about']" class="cursor: pointer"><img [src]="navigationImagePath" style="max-height: 50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about']" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['about']">Ali & Jake</a>
            <a class="dropdown-item" [routerLink]="['about']" fragment="bridesmaids">The Bridesmaids</a>
            <a class="dropdown-item" [routerLink]="['about']" fragment="groomsmen">The Groomsmen</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['tuscany']" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Tuscany
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['tuscany']">Details</a>
            <a class="dropdown-item" [routerLink]="['tuscany']" fragment="itinerary">Itinerary</a>
            <a class="dropdown-item" [routerLink]="['tuscany']" fragment="remainder">The Trip Continues</a>
            <a class="dropdown-item" [routerLink]="['tuscany']" fragment="accomodations">Accomodations</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['minnesota']" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Minnesota
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['minnesota']">Windsong</a>
            <a class="dropdown-item" [routerLink]="['minnesota']">Desserts And Dancing</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['registry']">Registry</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
