<div class="container-fluid background">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center top-title">Ali-Marie & Jake</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Are getting Marrried!</h3>
      <h3 class="text-center">... In Italy!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img [src]="jumbotronImagePath" class="img-fluid hidden-pic">
    </div>
  </div>
</div>
<div class="container">
  <div class="bottom-buffer">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-center the-couple">The Couple</h1>
        <br>
        <br>
        <p>
          The first time Ali and Jake met each other was at a twins game, and they said hi, but Jake was super shy and they didn't talk anymore than that. Then over a year later Jake and "the uptown boys" hosted a Friendsgiving and Ali met up with them after the dinner. That was the first time Jake finally talked to Ali. From that point on they kept finding themselves talking, spending time together and realizing how much they had in common. Finally on New Years Eve, Jake asked Ali out on a date and she said yes!
        </p>
        <p>
          They dated for a year and half. Jake was Ali's date in her sister Ashley's wedding. Ali was Jake's date in his sister Megan's wedding. Then Jake was Ali's date again in her brother Andrew's wedding! A lot of important and exciting weddings in a year. (Thank you parents!). In May of 2018, they took a trip to Europe, where they traveled around Italy, Switzerland, and France. When they got to Lake Como, Italy, after a strenuous drive, Jake had found the perfect spot. It's the picture above, a pergola on Lake Como. Jake proposed to Ali under the vines and they got engaged!
        </p>
        <p>
          Ali and Jake both live in Northeast Minneapolis. Jake is a Software Engineer at SportsEngine and Ali is a Freelance Photography Producer. They are extremely excited to get married and cannot wait for their special day. Whether you will celebrate with them in Tuscany, Minnesota, or anywhere in between, it means so much to them that you are involved in their lives and their wedding.
        </p>
      </div>
      <div class="col-md-6">
        <img [src]="aliJakeImagePath" class="img-fluid">
      </div>
    </div>
  </div>
  <hr>
  <div class="container-buffer">
    <div class="row">
      <div class="col-md-12">
        <h1
          class="text-center"
          id="bridesmaids"
        >The Bridesmaids</h1>
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-3">
        <h2 class="text-center">Ashley Hendrikson</h2>
        <h5 class="text-center">The Sister</h5>
        <hr>
        <img src="https://i.imgur.com/jrrWE9E.jpg" class="img-fluid">
        <hr>
        <p>Ali's sister.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Elle Gustafson</h2>
        <h5 class="text-center">Dance Partner</h5>
        <hr>
        <img src="https://i.imgur.com/YZAuTJj.jpg" class="img-fluid">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Chelsie Sobieck</h2>
        <h5 class="text-center">The Matchmaker</h5>
        <hr>
        <img src="https://i.imgur.com/CzYRaDj.jpg" class="img-fluid">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Megan Hazel</h2>
        <h5 class="text-center">New Sister</h5>
        <hr>
        <img src="https://i.imgur.com/NTOnPqR.jpg" class="img-fluid">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row container-buffer">
    <div class="col-md-12">
      <h1
        class="text-center"
        id="groomsmen"
      >The Groomsmen</h1>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-3">
      <h2 class="text-center">Stephen Rydberg</h2>
      <h5 class="text-center">Kindergarten Friend</h5>
      <hr>
      <img src="https://i.imgur.com/XeANs1Y.jpg" class="img-fluid">
      <hr>
      <p>Stephen and Jake met on the bus the first day of kindergarten and they've been best friends ever since. They grew up playing legos, video games, going to cabins together, playing golf, going to concerts, playing instruments, taking road trips and the list goes on. They had many different friend groups throughout the years but Stephen and Jake always stayed constant. Stephen always makes sure everyone is having a great time. He may burn the bacon, or have decaf coffee, but he organizes the hell out of a great lego build!</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Matt Johnson</h2>
      <h5 class="text-center">High School Friend</h5>
      <hr>
      <img src="https://i.imgur.com/sks3Mh1.jpg" class="img-fluid">
      <hr>
      <p>Matt and Jake were in the Lakeville North Marching Band. They got matched up to room together on a band trip to Philadelphia. Jake didn't have the best impression of Matt before the trip(he can be a bit loud... ha!), but they realized they had a lot in common. Eventually Matt joined Stephen and the rest of "The Guys" and they were great friends throughout college and ended up living together in uptown for 3 years after school. Matt will never say no to a game of Fooseball or a night out at Trivia, he's always there to have a great time. </p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Nick Schaefer</h2>
      <h5 class="text-center">College Roommate</h5>
      <hr>
      <img src="https://i.imgur.com/vqGxbTc.jpg" class="img-fluid">
      <hr>
      <p>Schaefer and Jake knew eachother throughout elementary school at St. John's the Baptist, but they didn't become great friends until college at St. John's. Schaefer and Jake had many great times in college, they ate together, worked out together, hung out with many of the same friends, went to parties and senior year they roomed together with the rest of the "Maur 108" gang. Schaefer also lived with Jake and Matt in uptown where they continued the parties with endless nights of Fooseball and Super Smash. Schaef will always go out of his way to help you, no matter what the issue is. </p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Andrew Henningsgaard</h2>
      <h5 class="text-center">New Brother</h5>
      <hr>
      <img src="https://i.imgur.com/mtU7TLF.jpg" class="img-fluid">
      <hr>
      <p>Ali's brother.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
