<div class="container-fluid background">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center top-title">Ali-Marie & Jake</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Are getting Marrried!</h3>
      <h3 class="text-center">... In Italy!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img [src]="jumbotronImagePath" class="img-fluid hidden-pic">
    </div>
  </div>
</div>
<div class="container">
  <div class="bottom-buffer">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-center the-couple">The Couple</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-md-6">
        <img [src]="aliJakeImagePath" class="img-fluid">
      </div>
    </div>
  </div>
  <hr>
  <div class="container-buffer">
    <div class="row">
      <div class="col-md-12">
        <h1
          class="text-center"
          id="bridesmaids"
        >The Bridesmaids</h1>
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-3">
        <h2 class="text-center">Ashley Hendrikson</h2>
        <h5 class="text-center">The Sister</h5>
        <hr>
        <img src="https://i.imgur.com/jrrWE9E.jpg" class="img-fluid">
        <hr>
        <p>Ali's sister.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Elle Gustafson</h2>
        <h5 class="text-center">Dance Partner</h5>
        <hr>
        <img src="https://i.imgur.com/YZAuTJj.jpg" class="img-fluid">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Chelsie Sobieck</h2>
        <h5 class="text-center">The Matchmaker</h5>
        <hr>
        <img src="https://i.imgur.com/CzYRaDj.jpg" class="img-fluid">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Megan Hazel</h2>
        <h5 class="text-center">New Sister</h5>
        <hr>
        <img src="https://i.imgur.com/NTOnPqR.jpg" class="img-fluid">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row container-buffer">
    <div class="col-md-12">
      <h1
        class="text-center"
        id="groomsmen"
      >The Groomsmen</h1>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-3">
      <h2 class="text-center">Stephen Rydberg</h2>
      <h5 class="text-center">Kindergarten Friend</h5>
      <hr>
      <img src="https://i.imgur.com/XeANs1Y.jpg" class="img-fluid">
      <hr>
      <p>Jake's Kindergarten friend growing up.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Matt Johnson</h2>
      <h5 class="text-center">High School Friend</h5>
      <hr>
      <img src="https://i.imgur.com/sks3Mh1.jpg" class="img-fluid">
      <hr>
      <p>Jake's Kindergarten friend growing up.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Nick Schaefer</h2>
      <h5 class="text-center">College Roommate</h5>
      <hr>
      <img src="https://i.imgur.com/vqGxbTc.jpg" class="img-fluid">
      <hr>
      <p>Jake's Kindergarten friend growing up.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Andrew Henningsgaard</h2>
      <h5 class="text-center">New Brother</h5>
      <hr>
      <img src="https://i.imgur.com/mtU7TLF.jpg" class="img-fluid">
      <hr>
      <p>Jake's Kindergarten friend growing up.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
