<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center top-title">Registry</h1>
    </div>
  </div>
  <div class="row row-top-buffer">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <p class="text-center">The biggest gift to us is your attendance at the celebration of our marriage. However, if you do wish to buy us a gift we do have a list at the following:</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
    <div class="container smaller">
    <div class="row row-buffer">
      <div class="col-md-6">
        <a href="https://www.williams-sonoma.com/registry/9bt5bszbqv/registry-list.html">
          <div class="image">
            <img src="../../assets/williams_sonoma.jpg" class="img-fluid">
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://www.macys.com/wgl/registry/guest/2397279">
          <div class="image">
            <img src="../../assets/macys.png" class="img-fluid">
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.crateandbarrel.com/gift-registry/ali-marie-hennongsgaard-and-jake-waletzko/r5936389">
          <div class="image">
            <img src="../../assets/crate-barrel-logo-vector.png" class="img-fluid">
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://www.potterybarn.com/registry/7dhjc2chkn/registry-list.html">
          <div class="image">
            <img src="../../assets/pottery-barn.png" class="img-fluid">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
