<div class="container top-buffer">
  <div class="row">
    <div class="col-md-4">
      <h1
        id="accomodations"
      >Accomodations:</h1>
    </div>
    <div class="col-md-4">
      <h5 class="text-center">Tenuta Quadrifoglio:</h5>
      <p>The Bride, Groom, their family and Wedding party will be staying at this property. This is also where the wedding and reception will be taking place.  Nestled in the Tuscan hillside just 20 minutes West of the picturesque town of San Gimignano.</p>
    </div>
    <div class="col-md-4">
      <button (click)="onTenutaClick()" type="button" name="tenuta_button" id="tenuta_button" class="btn btn-light btn-lg btn-block">
        Google Map of Tenuta Quadrifoglio
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h5 class="text-center">Il Defizio:</h5>
      <p>Recommended by our wedding planner - this other Villa is just a 5 minute drive down the road from Tenuta Quadrifoglio.</p>
    </div>
    <div class="col-md-4">
      <button (click)="onDefizioClick()" type="button" name="defizio_button" id="defizio_button" class="btn btn-light btn-lg btn-block">
        Google Map of Il Defizio
      </button>
    </div>
  </div>
</div>
