<div class="container-fluid background">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center top-title">Windsong Farm</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Celebrate our Marriage back home in Minnnesota</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img [src]="jumbotronImagePath" class="img-fluid hidden-pic">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1
        class="text-center"
        id="desserts_and_dancing"
      >Desserts and Dancing</h1>
      <h2 class="text-center">Saturday 6.22.19</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center"> Join us for a celebration back in Minnesota. There will be drinks, a few words said, desserts, and dancing with a live band. </p>
    </div>
  </div>
</div>
