<div class="container-fluid background">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center top-title">Windsong Farm</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Celebrate our Marriage back home in Minnnesota</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img [src]="jumbotronImagePath" class="img-fluid hidden-pic">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1
        class="text-center dancing-title"
        id="desserts_and_dancing"
      >Ali-Marie and Jacob's</h1>
      <h1 class="text-center dancing-title"
      id="desserts_and_dancing">Wedding Celebration</h1>
      <h2 class="text-center">Saturday 6.22.19</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <hr>
      <p class="text-center">The Henningsgaard’s and Waletzko’s are thrilled to invite you to join us and celebrate Ali-Marie & Jacob as they return from their Italian wedding.</p>
      <p class="text-center">Yes she’ll be wearing the dress and he’ll be wearing the suit. We’re ready to celebrate, toast and dance the night away with everyone!</p>
      <hr>
      <h5 class="text-center">6 PM</h5>
      <h5 class="text-center">Arrival</h5>
      <p class="text-center">Drinks to toast the newly married couple and indulge in desserts.</p>
      <hr>
      <h5 class="text-center">7:30 PM</h5>
      <h5 class="text-center">Toasts and "First" Dances</h5>
      <p class="text-center">We would like to address everyone and say a few words about our experience in Italy and thank everyone for joining us on this special occasion.</p>
      <hr>
      <h5 class="text-center">8 PM</h5>
      <h5 class="text-center">Drinks and Dancing</h5>
      <p></p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <hr>
  <div class="row row-buffer">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Directions:</h2>
      <button (click)="onWindsongClick()" type="button" name="windsong_button" id="windsong_button" class="btn btn-light btn-lg btn-block">
        Google Map of Windsong Farm
      </button>
    </div>
    <div class="col-md-4">
      <p class="text-center">Windsong Farm Golf Club is located roughly 30 minutes outside of Minneapolis. There is plenty of parking and if needed cars can be left overnight. Be mindful of the speed limit on County Road 6!</p>
    </div>
  </div>
</div>
