<div class="container top-buffer">
  <div class="row">
    <div class="col-md-12">
      <h1
        id="remainder"
      >The remainder of our Italian stay:</h1>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-12">
      <p>Please let us know if you will be staying near the Tuscany area after Wednesday. Our families are staying in various Villas in the Tuscan area the remainder of the week. So if you are nearby and around we would LOVE to see you!  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img [src]="remainderImagePath" class="img-fluid">
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
  <img [src]="remainderImagePath" class="img-fluid">
</div> -->
