<div class="container top-buffer">
  <div class="row">
    <div class="col-md-12">
      <h1
        id="remainder"
      >Transportation to Villa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Check out our facebook group if you're looking for a ride, have an extra seat, or would just like to coordinate with others about the trip. Let Jake or Ali know and they can add you to the group. </p>
      <p>Let us know if you will be staying near the Tuscany area after Wednesday. Our families are staying in various Villas in the Tuscan area the remainder of the week. So if you are nearby and around we would LOVE to see you!  </p>
      <p>Above all, we want everyone to have an amazing time and enjoy Italy as much as we have. Please reach out to us or our families if you have any questions, we will be happy to share suggestions or stories of our adventures. </p>
    </div>
    <div class="col-md-6">
      <img [src]="aliJakeImagePath" class="img-fluid">
    </div>
  </div>
</div>
