.top-buffer { margin-top:50px; }
.row-buffer { margin-top:20px; }

h1 {
  font-family: freight-big-pro;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  line-height: 1.25em;
  text-transform: none;
  color: #e60004;
}

p {
  font-family: freight-sans-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 16.5px;
  letter-spacing: .02em;
  line-height: 1.8em;
  text-transform: none;
  color: #000;
}

