<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1
        class="text-center"
        id="itinerary"
      >Itinerary</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">Monday 5.27.19</h2>
      <h5 class="text-center">Welcome Wine</h5>
      <hr>
      <h5 class="text-center">6 PM</h5>
      <p>Please join us as we host some welcome wine at Tenuta Quadrifoglio. We will have plenty of wine and pizza, all are welcome!</p>
      <hr>
      <h5 class="text-center">Dinner Options</h5>
      <p>In case you are craving something heartier than meats & cheeses there are a handful of nearby restaurants.</p>

      <p>Osteria del Castagno: <i>Tuscan plates and bar</i></p>
      <p>Boscotondo: <i>Tuscan plates and pizza</i></p>
      <p>Tre Case: <i>Tuscan plates, fish and pizza</i></p>

      <p>
        San Gimignano has endless options, some we would recommend include:
      </p>
      <p>Perucà: <i>Modern and Tuscan plates</i></p>
      <p>San Martino 26: <i>Tuscan plates and fish</i></p>
      <p>Bel Soggiorno: <i>Rural style, Panoramic view</i></p>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Tuesday 5.28.19</h2>
      <h5 class="text-center">The Wedding Day</h5>
      <hr>
      <h5 class="text-center">Morning</h5>
      <p>We would suggest exploring San Gimignano. It’s 20 minutes from Tenuta Quadrifoglio and it a beautiful
        Tuscan town. One of our favorites!

        You can climb the towers for break-taking views of the Tuscan hillside.

        This town also has beautiful handmade and hand painted pottery.</p>
      <hr>
      <h5 class="text-center">4 PM</h5>
      <h5 class="text-center">CEREMONY</h5>
      <p>Our wedding ceremony will be held outside at Tenuta Quadrifoglio.</p>
      <hr>
      <h5 class="text-center">5 PM</h5>
      <h5 class="text-center">Appertivo</h5>
      <p>Please walk over to the garden area for celebratory Prosecco and apperitivo. Let the food begin!</p>
      <hr>
      <h5 class="text-center">7 PM</h5>
      <h5 class="text-center">BUON APPETITO</h5>
      <p>It’s time for dinner. If the weather is good we will be having dinner outside. If you have dietary restrictions we should be aware of please let us know, so we can
        make the arrangement.</p>
      <hr>
      <h5 class="text-center">9 PM - 1 AM</h5>
      <h5 class="text-center">Drinks & Dancing</h5>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Wednesday 5.29.19</h2>
      <h5 class="text-center">Adventure Day</h5>
      <hr>
      <p>I Bike Tuscany: Ali & Jake did this tour on their trip last year. It’s an amazing (and not so difficult) bike
        and wine tasting tour through the Chianti towns. One of the most beautiful areas in Tuscany! They also have
        other tours you can look into.</p>
      <p>Cooking Class at Badia a Coltibuono: Recently featured in a Netflix special. They offer a half day course that
        begins at 10:30.</p>
      <p>Tenuta Quadrifoglio: Maybe you want to relax by the pool and stay on the property. They offer wine tastings,
        cooking classes & massages.</p>
      <p>Other nearby towns to explore:</p>
      <p>Chianti Region: 45-1 hour from Tenuta Quadrifoglio. Some of our family favorites include Radda in Chianti,
        Castellina in Chianti, & Greve in Chianti</p>
      <p>Sienna: 30 minutes from Tenuta Quadrifoglio. Larger town in Tuscany. Many places to eat, shop and tour.</p>
      <p>Montelpuciano: ______________</p>
    </div>
  </div>
</div>
